{% extends 'home/base.html' %}


{% block CONTENIDO_BASE %}
    

    <!-- Contact-->
    <section class="page-section" id="contact">
        <div class="container">
            <div class="text-center">
                <h1 class="section-heading">Sobre Nosotros</h1>
                <p class="section-text text-light  text-lg-start ">Somos un emprendimiento familiar, iniciado en el año 2017.
                    Nos dedicamos a la regalería personalizada, y también a productos de reventa, todo relacionado a que puedas encontrar el regalo
                    ideal para cada ocasión. Nos sentimos orgullosos de poder traer a nuestros clientes productos de diseño profesional.
                </p>
                <p class="section-text text-light  text-lg-start ">   
                    Otro de nuestros productos destacados son los vinilos decorativos para paredes y vidrieras, 
                    los cuales hacemos con el diseño que nuestro cliente necesite,
                    Este producto es ideal para aquellos que quieran decorar las paredes de sus casas 
                    o también para aquellos que tengan un negocio
                    y deseen darle un estilo diferente y personalizado.
                </p>

            <h3 class="text-secondary text-light ">Déjanos tu mensaje</h3>
            </div>
            
            <form method="post">
                {% csrf_token %}
                <div class="form-group text-center ">
                    <div>
                        <label for="{{ form.nombre.id_for_label }}" class="label text-light ">Nombre: </label>
                        <div class="column-gap-0 ">{{ form.nombre }}</div>
                    </div>
                    <div>
                        <label for="{{ form.email.id_for_label }}" class="label text-light ">Email:</label>
                        <div class="column-gap-0 ">{{ form.email }}</div>
                    </div>
                    <div>
                        <label for="{{ form.mensaje.id_for_label }}" class="label text-light ">Mensaje:</label>
                        <div class="column-gap-0 ">{{ form.mensaje }}</div>
                    </div>
                    
                    <button type="submit" class="btn btn-primary submit">Enviar Mensaje</button>
                </div>
            </form>

{% endblock CONTENIDO_BASE %}